<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Exam Performance Indicator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Student Exam Performance Indicator</h1>
        <form action="{{ url_for('predict_datapoint')}}" method="post" class="mt-4">
            <fieldset>
                <legend>Student Exam Performance Prediction</legend>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option selected disabled value="">Select your Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ethnicity">Race or Ethnicity</label>
                    <select class="form-control" id="ethnicity" name="ethnicity" required>
                        <option selected disabled value="">Select Ethnicity</option>
                        <option value="group A">Group A</option>
                        <option value="group B">Group B</option>
                        <option value="group C">Group C</option>
                        <option value="group D">Group D</option>
                        <option value="group E">Group E</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="parental_level_of_education">Parental Level of Education</label>
                    <select class="form-control" id="parental_level_of_education" name="parental_level_of_education" required>
                        <option selected disabled value="">Select Parent Education</option>
                        <option value="associate's degree">associate's degree</option>
                        <option value="bachelor's degree">bachelor's degree</option>
                        <option value="high school">high school</option>
                        <option value="master's degree">master's degree</option>
                        <option value="some college">some college</option>
                        <option value="some high school">some high school</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lunch">Lunch Type</label>
                    <select class="form-control" id="lunch" name="lunch" required>
                        <option selected disabled value="">Select Lunch Type</option>
                        <option value="free/reduced">free/reduced</option>
                        <option value="standard">standard</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="test_preparation_course">Test Preparation Course</label>
                    <select class="form-control" id="test_preparation_course" name="test_preparation_course" required>
                        <option selected disabled value="">Select Test Course</option>
                        <option value="none">None</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="reading_score">Writing Score out of 100</label>
                    <input class="form-control" type="number" id="reading_score" name="reading_score" placeholder="Enter your Reading score" min="0" max="100" required>
                </div>
                <div class="form-group">
                    <label for="writing_score">Reading Score out of 100</label>
                    <input class="form-control" type="number" id="writing_score" name="writing_score" placeholder="Enter your Writing Score" min="0" max="100" required>
                </div>
                <button type="submit" class="btn btn-primary">Predict your Maths Score</button>
            </fieldset>
        </form>
        {% if results %}
        <div class="mt-4">
            <h2 class="text-center">The prediction is {{ results }}</h2>
        </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
